{% extends "theme.html" %}
{% block title %}Home{% endblock %}


{% block content %}
<h1>
    Username: {{ user.username }} <br>
</h1>

<h2>
    Record audio
</h2>
<audio id="audio1" controls></audio>
<br>
<button id="record">Record</button>

<script type="text/javascript" src="{{ url_for('static', filename="bower_components/crypto-js/crypto-js.js") }}"></script>
<script>
    var audio = document.getElementById('audio1');
    var constraints = { audio: true };
    var recordingTime;

    navigator.mediaDevices.getUserMedia(constraints).then(function (stream) {
        var mediaRecorder = new MediaRecorder(stream);
        var chunks = [];
        var record = document.getElementById('record');

        mediaRecorder.addEventListener('dataavailable', function (event) {
            chunks.push(event.data);
        });

        mediaRecorder.addEventListener('stop', function () {
            var blob = new Blob(chunks, { type: 'audio/wav' });
            var url = URL.createObjectURL(blob);
            audio.src = url;


            console.log(blob)

            var reader = new FileReader();
            reader.onloadend = () => {
                var audioB64 = reader.result;
                console.log(audioB64);
                console.log(typeof audioB64);

                var prefix = audioB64.substr(0, 22);
                var encryptable_portion = audioB64.substr(22);
                console.log(prefix)
                console.log(encryptable_portion)

                var key = CryptoJS.enc.Latin1.parse('12345678123456781234567812345678'); //generate randomly and encrypt with rsa
                var iv = CryptoJS.enc.Latin1.parse('1234567812345678'); //also generate random but can be passed along unencrypted
                var encryption = CryptoJS.AES.encrypt(encryptable_portion, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 })
                var encrypted = encryption.toString();
                var decrypted = CryptoJS.AES.decrypt(encrypted, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 }).toString(CryptoJS.enc.Utf8);
                console.log(encryption.key.toString());
                console.log("CIPHERTEXT", encrypted);
                console.log("DECRYPTED", decrypted);

                var decoded = new Audio(prefix + decrypted);
                decoded.play();
            }
            reader.readAsDataURL(blob);

            var data = new FormData()
            data.append('file', blob, 'file')

            fetch('/', {
                method: 'POST',
                body: data
            });
            chunks = [];
        });

        record.addEventListener('click', function () {
            Sync();
            mediaRecorder.start();
            record.disabled = true;
            timeout = setTimeout(function () { stopRecording(); }, 3000)
        });

        function stopRecording() {
            mediaRecorder.stop();
            record.disabled = false;
        }
    });

    function Sync() {
        console.log("syncin")
        var timeRequest = new XMLHttpRequest();
        var requestTime = (new Date).getTime();

        timeRequest.open('GET', "{{ url_for('spAPI.servertime') }}");
        timeRequest.onreadystatechange = function () {
            if (timeRequest.readyState != 4) {
                return;
            }
            var responseTime = (new Date).getTime();
            var rtdLatency = (responseTime - requestTime)/2;
            var serverTimeAtRequest = parseFloat(timeRequest.response);

            serverTime = serverTimeAtRequest+rtdLatency;

            console.log("client time request made", requestTime.valueOf());
            console.log("client time recieve response", responseTime.valueOf());
            console.log("latency", rtdLatency.valueOf());
            console.log("server's time when request recieved", serverTimeAtRequest);
            console.log("server time + latency", serverTime);

            recordingTime = serverTime.valueOf();
        };
        timeRequest.send(null);
    }
</script>

<br>
<br>
<br>
<div><a href="/twofa_register">2FA Setup</a></div>


{% endblock %}