{% extends "theme.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h4 id='message'>{{message}}</h4>
<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" name="username" id="username" required>
        <label for="email">Email</label>
        <input class="form-control" name="email" id="email" required>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required>
        <label for="password">Confirm Password</label>
        <input class="form-control" type="password" name="password2" id="password2" required>
        <input class="btn btn-primary" type="submit" value="Register">
        <a href='/login' class="btn btn-primary" id="btn-submit">Login</a>
    </div>
</form>
{% endblock %}