{% extends "theme.html" %}
{% block title %}2FA{% endblock %}


{% block content %}
<h4 id='message'>{{message}}</h4>
{% if user.twofa_enabled == False %}
    <h1>
        {{ user.username }} does not have 2FA enabled <br>
    </h1>
{% else %}
    <h1>
        {{ user.username }} has 2FA enabled <br>
    </h1>
{% endif %}
<p1>
    Enter the secret code or scan the QR code <br>
    Secret Code: {{ user.otp_secret}} <br>
    QR Code: <br>
    <img src="{{ qrcode(user.otp_secret) }}">
</p1>

{% endblock %}